# 4. Второй модуль. Классическое машинное обучение

## 4.1 Задача регрессии. Линейная регрессия

Вам даны два ряда. В одном* ряду значения курса валюты за определенный промежуток времени, во втором** ряду находится предсказанный некоторой моделью курс этой же валюты.

* https://github.com/bykov-alexei/data-science-course/blob/master/ML/first-series.npy?raw=true

** https://github.com/bykov-alexei/data-science-course/blob/master/ML/second-series.npy?raw=true

In [ ]:
import numpy as np
a = np.load('ML/first-series.npy')
b = np.load('ML/second-series.npy')

По двум рядам определите ошибку предсказания MSE

In [ ]:
import sklearn.metrics as sk
mse = sk.mean_squared_error(a, b)
mse

По двум рядам определите ошибку предсказания RMSE

In [ ]:
import sklearn.metrics as sk
rmse = mean_squared_error(a, b, squared=False)
rmse

По двум рядам определите ошибку предсказания MAE

In [ ]:
sk.mean_absolute_error(a, b)

Постройте линейную регрессию по данным и в ответ запишите получившийся коэффициент k 

https://github.com/bykov-alexei/data-science-course/blob/master/ML/data.npz?raw=true

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
npz = np.load('ml/data.npz')
df= pd.DataFrame.from_dict({item: npz[item] for item in npz.files})
X = df.iloc[:,:-1].values
y = df.iloc[:,1].values 
model = LinearRegression().fit(x, y)
model.coef_

## 4.2 Задача регрессии. Линейная регрессия не для kx + b

В {файле}(https://github.com/bykov-alexei/data-science-course/blob/master/Машинное%20обучение/Линейная%20регрессия/data.npz?raw=true) даны значения x, y
y = a_1*sin(x)+a_2cos(x)+a_3
Ваша задача найти коэффициенты a1, a2, a3 округлить их до ближайшего целого и записать через пробел

https://github.com/bykov-alexei/data-science-course/blob/master/Машинное%20обучение/Линейная%20регрессия/data.npz?raw=true

In [64]:
import numpy as np
import pandas as pd
import sympy as sp
import scipy.optimize
from math import sin
from math import cos
npz = np.load('4.2.1.npz')
df= pd.DataFrame.from_dict({item: npz[item] for item in npz.files})
a1,a2,a3 = sp.symbols('a1 a2 a3')

# out = scipy.optimize.fsolve(sp.Eq(a1*sin(x)+a2*cos(x)+a3, y))
df

            x         y
0      0.0000  4.736092
1      0.1001  5.040527
2      0.2002  4.940094
3      0.3003  5.521794
4      0.4004  5.881488
..        ...       ...
995   99.5996  2.754069
996   99.6997  2.815679
997   99.7998  3.157637
998   99.8999  3.103036
999  100.0000  4.070684

[1000 rows x 2 columns]